@inherits LayoutComponentBase

<script>
    function scrollHeight(textarea) {
        if (textarea)
            textarea.scrollTop = textarea.scrollHeight;
    }
</script>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>
