<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Warno Mod Automation</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link align-items-start" href="" Match="NavLinkMatch.All">
                <i class="bi bi-houses ps-2"></i> Mode manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link align-items-start" href="settings">
                <i class="bi bi-gear ps-2"></i> <span>Settings</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link align-items-start" href="divisionsManager">
                <i class="bi bi-gear ps-2"></i> <span>Divisions manager</span>
            </NavLink>
        </div>
    </nav>
</div>
