<div class="pb-3">
    <div class="card">
        <div class="card-header">
            <div class="btn btn-link text-decoration-none" @onclick="Toggle">
                <b class="h4 text-black">@CardHeader</b>
            </div>
            @* <button @onclick="Toggle" type="button" class="btn btn-secondary btn-sm float-right">
                <span class="@BtnClass"></span>
            </button> *@
        </div>

        <div class="card-body collapsible @CardBodyClass">
            @CardBody
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment CardBody { get; set; }
    [Parameter] public RenderFragment CardHeader { get; set; }
    [Parameter] public string CardHeaderTitle { get; set; }


    [Parameter] public bool ShowCardBody { get; set; } = false;
    public string CardBodyClass => ShowCardBody ? "show" : "";
    public void Toggle()
    {
        ShowCardBody = !ShowCardBody;
    }
}