@page "/divisionsManager"
@using BlazorBootstrap;

<section class="p-3">

<h4 class="fw-bold">Divisions manager</h4>

    <Button Class="btn btn-primary" @onclick="AddDivisionRule">
        <i class="bi bi-plus-circle-dotted"></i> 
        Add division rule 
    </Button>

    <section class="p3">

    </section>

</section>

@code {
    public void AddDivisionRule()
    {
    }
}
