@page "/"
@using WarnoModeAutomation.Logic
@using BlazorBootstrap

<Accordion AlwaysOpen="true">
    <AccordionItem Title="Status" IsActive="true">
        <Content>
            <div>
                <p class="h5">
                    <span class="badge badge-secondary">Mod name:</span>
                    <strong><small>@Storage.ModeSettings.ModeName</small></strong>
                </p>

                <hr />

                <p class="h5">
                    <span class="badge badge-secondary">Status:</span>
                    <strong><small>@Storage.Status.Status</small></strong>
                </p>

                <hr />

            </div>
        </Content>
    </AccordionItem>
    <AccordionItem Title="Control">
        <Content>
            <Button Class="btn btn-primary" @onclick="CreateMod">Create mod</Button>
        </Content>
    </AccordionItem>
</Accordion>

@code {
    public Task CreateMod()
    {
        await ModManager.CreateModAsync();
    }
}